.code-json {
    background-color: #f2f2f2;
    color: #2d3748;
    border: 1px solid #d1d5db;
    border-radius: var(--border-radius);
    padding: var(--spacing-medium);
    overflow-x: auto;
    margin: var(--spacing-medium) 0;
}

.code-json pre {
    margin: 0;
    background: transparent !important;
     max-height: 360px;
    overflow-y: auto;
    overflow-x: auto;
}

.code-json code {
    font-family: Consolas, "Courier New", monospace;
    font-size: 14px;
    line-height: 1.8;
    background: transparent !important;
    color: #000000 !important;
    font-weight: bold;
}

/* Propiedades */
.code-json code .hljs-attr {
    color: #000000 !important;
}

/* Strings */
.code-json code .hljs-string {
    color: #808080 !important;
}

/* Números */
.code-json code .hljs-number {
    color: #000000 !important;
}

/* true, false, null */
.code-json code .hljs-literal {
    color: #000000 !important;
}

/* Todo lo demás */
.code-json code span {
    color: #000000 !important;
}

/* Volvemos a aplicar el color de los strings */
.code-json code .hljs-string {
    color: #808080 !important;
}